web/dist*
web/static/tmp/
web/static/combined/
web/config/client_session_key.aes
web/*.hi
web/*.o
web/*.sqlite3
web/*.sqlite3-shm
web/*.sqlite3-wal
web/.hsenv*
web/cabal-dev/
web/.stack-work/
web/.stack-work-devel/
web/yesod-devel/
web/.cabal-sandbox
web/cabal.sandbox.config
web/.DS_Store
web/*.swp
web/*.keter
web/*~
web/#*
web/web.cabal